.header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 600;
    background-color: rgba(25, 25, 25);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.2s ease, backdrop-filter 0.2s ease, box-shadow 0.2s ease;
}

a {
    text-decoration: none;
    color: white;
}

.me {
    justify-self: start;
}

.me a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.menu {
    justify-self: center;
    text-decoration: none;
    font-style: normal;
    display: flex;
    text-align: center;
    gap: 0.7 rem;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    padding: 0.5rem 1rem;
}

.menu a:hover {
    color: #ff6b6b;
}

.menu a.active {
    color: #ff6b6b;
    background-color: rgba(255, 107, 107, 0.1);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.theme-toggle {
    justify-self: end;
}

.theme-toggle button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Responsivitas */
@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
        margin-top: 5px;
    }

    .me {
        justify-self: center;
    }

    .menu {
        justify-self: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .theme-toggle {
        justify-self: center;
    }
}
