.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}

#home h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 5rem;
    background: linear-gradient(to right, #FCF7FF,
            #C4CAD0, #878C8F, #A4969B, #655560);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1rem;
}

#home p {
    font-size: 20px;
    padding-top: 0.7rem;
    margin-bottom: 2rem;
}

#home button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#home button:hover {
    background-color: #ff5252;
}

/* Responsivitas */
@media (max-width: 768px) {
    .content {
        padding: 20px 10px;
        padding-top: 50px;
        height: auto;
        min-height: 100vh;
    }

    #home h1 {
        font-size: 40px;
        line-height: 4rem;
    }

    #home p {
        font-size: 18px;
    }
}