/* Projects */
#projects {
  color: whitesmoke;
  padding: 8rem 0;
}

#projects div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

#projects div > div {
  background-color: #333;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: whitesmoke;
}